# =========================
# Variables de entorno
# =========================
.env
.env.*
!.env.example

# =========================
# Dependencias Node
# =========================
node_modules/

# =========================
# Build
# =========================
dist/
build/

# =========================
# Vite
# =========================
.vite/

# =========================
# Cache
# =========================
.cache/
.eslintcache

# =========================
# Tests / Coverage
# =========================
coverage/

# =========================
# Logs npm / yarn / pnpm
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Local
# =========================
*.local