# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db
Desktop.ini

# =========================
# IDE / Editores
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Archivos temporales
# =========================
*.tmp
*.temp
*.bak

# =========================
# Logs generales
# =========================
*.log

# =========================
# Cobertura / reportes
# =========================
coverage/
htmlcov/
.coverage

# =========================
# Otros
# =========================
*.zip